---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Section from "@theme/components/Section.astro";
import PostsList from "../../layouts/components/PostsList.astro";
import Icon from "@theme/components/Icon.astro";
import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";

export const sortBlogs = (
  a: CollectionEntry<"blog">,
  b: CollectionEntry<"blog">,
): number => b.data.publishedAt.getTime() - a.data.publishedAt.getTime();

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection("blog");

  posts.sort(sortBlogs);

  // Omit the first post as this will be "featured"
  return paginate(posts.slice(1), { pageSize: 12 });
}) satisfies GetStaticPaths;

type Props = {
  page: Page<CollectionEntry<"blog">>;
};

const { page } = Astro.props;

// Perform a separate query to get the first blog to feature on the first page
const latestPosts = page.currentPage === 1 ? await getCollection("blog") : [];
latestPosts.sort(sortBlogs);
---

<Layout title="Delta Lake Blogs">
  <Section
    title="Delta Lake Blogs"
    isPrimary
    padding="xxl"
    className="bg-white"
  >
    {
      page.currentPage === 1 && (
        <PostsList posts={latestPosts.slice(0, 1)} hasFeaturedItem />
      )
    }
    <PostsList posts={page.data} />
    <nav class="flex items-center justify-center gap-4 mt-8">
      {
        page.url.prev && (
          <a
            href={page.url.prev}
            class="slider-prev slider-button left-[-10px] sm:left-[-1em]"
          >
            <Icon icon="chevronLeft" alt="Previous page" />
          </a>
        )
      }
      <p class="text-gray-600">Page {page.currentPage} of {page.lastPage}</p>
      {
        page.url.next && (
          <a
            href={page.url.next}
            class="slider-next slider-button right-[-10px] sm:right-[-1em]"
          >
            <Icon icon="chevronRight" alt="Next page" />
          </a>
        )
      }
    </nav>
  </Section>
</Layout>
